<div class="page-header">
  <%= link_to new_boat_path(:member_id => @person.member_id) ,:class => 'btn  btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  New Boat
  <% end %>
  
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Boat Name</th>
        <th>Boat Type</th>
        <th>Boat Class</th>
        <th>Sail Number</th>
        <th>pen Tag</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @boats ) do |boat| %>
      <td><%= boat.boat_name%></td>
      <td><%= boat.boat_type %></td>
      <td><%= boat.boat_class %></td>
      <td><%= boat.sail_number %></td>
      <td><%= boat.pen_tag %></td>
      <td><%= link_to 'Edit', edit_boat_path(boat), :class => 'btn btn-xs btn-default' %></td>
      <td><%= link_to 'Delete', boat, method: :delete, data: { confirm: "Are you sure?  - Don't delete Dinghies unless they have been removed from pen first" }, :class => 'btn btn-xs btn-danger' %></td>
      <% end %>
    </tbody>
  </table>
</div>
