<div id="tabs-4-1" class="tabs">
	<ul>
		<% y = 0 %>
	    <% @person.member.people.each do |person| @person = person %>
	    <li><a href=<%= "#tab-4-1-" + (y+=1).to_s %>> <%=@person.first_name%> <%=@person.last_name%> </a></li>
		<% end %>
	</ul>
 	   <% y = 0 %>
        <% @person.member.people.each do |person| @person = person %>
          <div id="<%= "tab-4-1-" + (y+=1).to_s  %>">
            <%= render :partial => 'people/txts'    %>
          </div>
        <% end %>
</div>
