<%= form_tag people_path, :method => 'get' ,:class => "form-inline" ,:id => "people_search"  do %>

<% if !params[:searchmp].blank? %>
	<% options = {:prompt => "Membership Class",:selected => params[:searchmp][:privilege_id]} %>
<% else %>
	<% options = {:prompt => "Membership Class"} %>
<% end %>
<div class="form-group">
  <%= text_field_tag :search, params[:search] ,:placeholder => 'Last Name',:class =>"string form-control" %>
  <%= text_field_tag :searchfn, params[:searchfn], :placeholder => 'First Name', :class =>"string form-control"%>
</div>
<div class="form-group">
  <%= collection_select(:searchmp, :privilege_id, Privilege.all, :id,:name, options, :class =>"select form-control" ) %>
</div>
<div class="form-group">
<table>
	<tr><td><%= check_box_tag :past_members,true,params[:past_members], :class =>"boolean" %><%= label_tag(:past_members, " Past Members") %></td></tr>
  <tr><td><%= check_box_tag :group,true,params[:group] ,:class =>"boolean" %><%= label_tag(:group, " Group Family Members") %></td></tr>
  <tr><td><%= check_box_tag :not_renewed,true,params[:not_renewed],:class =>"boolean"  %><%= label_tag(:not_renewed, " Not Renewed") %></td></tr>
</table>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary", data-disable-with="Wait..." >Submit</button>
    <a class="btn btn-default" href="/" role="button"> Reset</a>
</div>
<% end %>
