<%= simple_form_for@person, :namespace => @person.id , html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_radio_and_checkboxes
} do |f|  %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Personal Details</div>
        <div class="panel-body">
          <div class="form-inputs">
            <%= f.input :first_name , placeholder: 'First Name'%>
            <%= f.input :last_name, placeholder: 'Last Name'  %>
            <%= f.input :status, :as => :select , :collection => Person.form_status(true),
                  :include_blank => false  %>
            <%= f.input :occupation, :required => false ,placeholder: 'Occupation' %>
            <%= f.input :dob, :label =>'Date of Birth', :as => :date_picker,input_html: {'data_date_startview' => 2 }  %>
            # input_html: {'date_startview' => 2 }  %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Contact Details</div>
        <div class="panel-body">
          <%= f.input :home_phone  , :as => :string   %>
          <%= f.input :mobile_phone  , :as => :string   %>
          <%= f.input :email_address,  :as => :email  , placeholder: 'Email' %>
          <%= f.input :send_txt       %>
          <%=  f.input :send_email , as: :boolean  %>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-info">
        <div class="panel-heading">Subscribed Lists</div>
        <div class="panel-body">
           <div class="col-md-4">
             <%= f.input :txt_cruising                , :label => "Cruising"                 , as: :boolean  %>
            <%= f.input :txt_cruiser_skipper         , :label => "Cruising Skippers"        , as: :boolean  %>
             <%= f.input :txt_crace                   , :label => "Cruiser Racing"           , as: :boolean  %>
            <%= f.input :txt_cruiser_race_skipper    , :label => "Cruiser Racing Skippers"  , as: :boolean  %>
           </div>
          <div class="col-md-3">
            <%= f.input :txt_dinghy_sailing          , :label => "Dinghy Sailing"           , as: :boolean  %>
            <%= f.input :txt_junior                  , :label => "Juniors"                  , as: :boolean  %>
            <%= f.input :txt_op_co                   , :label => "Optimist Coaching"        , as: :boolean  %>
           </div>
          <div class="col-md-3">
            <%= f.input :txt_social                  , :label => "Social"                   , as: :boolean  %>
            <%= f.input :txt_bridge                  , :label => "Bridge"                   , as: :boolean  %>
            <%= f.input :txt_test                    , :label => "Test Messages"            , as: :boolean  %>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="form-actions">
  <%= f.button :submit  %>
</div>
<% end %>
