
<fieldset> 
            <legend>Subscribe to Texts and Emails</legend> 
    
                 <table class=""> 
                <tr> 
                    <td><%= submit_tag "Update" %>  </td> 
                </tr>
            </table> 
 
 
         <p><b> <%=@person.first_name%> <%=@person.last_name %> </b></p>
         <table class="listing">
            <th> </th> <th>send messages</th>
            
            <tr> <td> 
             <%= text_field :person, :home_phone   %><label> Home </label></td><td> </td></tr>
             <tr><td>  <%= text_field :person, :mobile_phone %><label> mobile</label> </td>
                  <td> <%= radio_button(:person, :snd_txt, "Y")  %><label for="person_snd_txt_y">Yes</label>
                  <%= radio_button(:person, :snd_txt, "N")  %><label for="person_snd_txt_n">No</label> </td></tr>
             <tr><td> <%= text_field :person, :email_address %><label> Email</label></td> 
                  <td> <%= radio_button(:person, :snd_eml, "Y")  %><label for="person_snd_eml_y">Yes</label>
                  <%= radio_button(:person, :snd_eml, "N")  %><label for="person_snd_eml_n">No</label> </td></tr>
            </table> 
             
     
         
   <table>  
        <tr> 
            <td> <%= check_box(:person, :txt_social)  %><label> Social</label> </td>
            <td> <%= check_box(:person, :txt_crace)  %><label> Cruiser Racing</label> </td>
            <td> <%= check_box(:person, :txt_cruiser_race_skipper)  %><label> Cruiser Racing Skippers</label> </td>
        </tr>   
        <tr>     
            <td> <%= check_box(:person, :txt_cruising)  %><label> Cruising</label> </td>
            <td> <%= check_box(:person, :txt_cruiser_skipper)  %><label> Cruising Skippers</label> </td>
            <td> <%= check_box(:person, :txt_dinghy_sailing)  %><label> Dinghy Sailing</label> </td>
        </tr>     
        <tr>     
            <td> <%= check_box(:person, :txt_junior)  %><label> Junior Sailing</label> </td>
            <td> <%= check_box(:person, :txt_bridge)  %><label> Bridge</label> </td>
            <td> <%= check_box(:person, :txt_test)  %><label> Test messages</label> </td>
            <td> <%= check_box(:person, :txt_op_co)  %><label> Optimist Coaching </label> </td>

        </tr>     

    </table> 



</fieldset>
