<%= semantic_form_for @person , :namespace => @person.id do |form| %>
   <% if @person.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h4>
           <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.inputs do %>

  <div class="span2">
  <%= form.input :home_phone  %>
  <%= form.input :mobile_phone  , :as => :phone   %>
    <div class="checkbox"><%= form.input :send_txt         , :as => :boolean %></div>
  <%= form.input :email_address,  :as => :email   %>
    <div class="checkbox"><%=  form.input :send_email       , :as => :boolean %> </div>
  </div>



  <% end %>
  <%= form.inputs do %>
  <div class="row">
  <div class="span3">
  	<div class="checkbox-inline"><%= form.input :txt_crace                   , :label => "Cruiser Racing"          , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_cruiser_race_skipper    , :label => "Cruiser Racing Skippers" , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_cruising                , :label => "Cruising"                , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_cruiser_skipper         , :label => "Cruising Skippers"       , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_dinghy_sailing          , :label => "Dinghy Sailing"          , :as => :boolean %></div>
  </div>
  <div class="span3">
  	<div class="checkbox-inline"><%= form.input :txt_junior                  , :label => "Juniors"                 , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_op_co                   , :label => "Optimist Coaching"       , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_social                  , :label => "Social"                  , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_bridge                  , :label => "Bridge"                  , :as => :boolean %></div>
  	<div class="checkbox-inline"><%= form.input :txt_test                    , :label => "Test Messages"           , :as => :boolean %></div>
  </div>
  </div>
  <% end %>

	<%= form.actions do %>
      <%= form.action :submit, :label => 'Update ' +  @person.first_name,  :button_html => { :class => "btn btn-primary" }  %>
	<% end %>
<% end %>
