<%= link_to  "Back to Search Listing", url_for(session[:search]) ,:class => "pretty_button" %>


<br> 

<div class="tabber" id="edit_main" >


<div class="tabbertab"title="Payments">
<%= form_for(@person) do |f| %>
<%= field_set_tag "Payment Details" do %>
<%= link_to  "New Payment", new_payment_path(:member_id => @person.member_id) ,:class => "pretty_button" %>
        <table class="listing">
            <tr>
                <th>Type</th><th>Year</th><th>Amount</th><th>Mem Class</th><th>Date</th><th>Method</th><th>Action</th>
            <% (@person.payments.sort do |b,a|  %>
                <% a.date_lodged <=> b.date_lodged end).each do |payment| @payment = payment    %>
                    <%= render :partial => 'payment' %> 
            <% end %>  
            </tr>
         </table>
    <% end %>
 <% end %>
</div>

<div class="tabbertab" title="Membership">    
<%= semantic_form_for(@person) do |form| %>
	<%= render :partial => 'shared/membership' , :locals => { :form => form , :buttons => true ,:button_label => 'Update Membership'  }  %>
<% end %>
<br> 
<br>
</div> 

<div class="tabbertab" title="Personal">
<br> 
<table> 
	<tr><td><%= button_to 'New Person', new_person_path(:mid => @person.member_id) %></td>  
	 <% if session[:copypersonid] and @person.member_id != session[:copypersonmid] %>
	<td><%= button_to "Paste copied person" , {:action => 'paste',:id => session[:copypersonid], :mid => @person.member_id } , :method => :put  %></td>
	<% end %>
	</tr>
</table>
 <div class="tabber" id="persontab"> 
        <% @person.member.people.each do |person| @person = person %>
        <div class="tabbertab" title="<%=@person.first_name%> <%=@person.last_name%>"
		<table><tr>
		<td><%= button_to("cut",:action => :cut,:id => @person.id  )  %></td>
	    <td><%= button_to 'Delete',@person ,:confirm => "Are you sure you want to delete this person?", :method => :delete , :id => @person.id %></td></tr>
	    </table>
	   
	            
		<%= semantic_form_for(@person) do |form| %>
  <%= render :partial => 'shared/person', :locals => { :form => form, :person => @person, :buttons => true ,:button_label => 'Update ' +  @person.first_name }  %>
    	<% end %>
      	</div>      
        <% end %>
        
 </div> 

</div>


<div class="tabbertab" title="Communication">
    <div class="tabber" id="comms">
        <% @person.member.people.each do |person| @person = person %>
            <div class="tabbertab" title="<%=@person.first_name%> <%=@person.last_name%>"  >
                <%= form_for(@person) do |f| %>
                     <%= render :partial => 'people/txts'   %>
                <% end %>
            </div>      
        <% end %>
    </div>  
</div>

<div class="tabbertab"title="Boats">
<%= form_tag :controller => 'boats', :action => 'new', :mid => @person.member_id, :pid => @person.id, :method => 'post' do %>

<%= field_set_tag "Boat Details" do %>

    <div class='familybox'>
        <%= submit_tag 'New boat' %>

        <table class="listing">
            <tr>
                <th>Boat Name</th>

                <th>Boat Type</th>

                <th>Class</th>

                <th>Sail #</th>
				
				<th>Pen Tag</th>

                <th>Action</th>
                <% @person.member.boats.each do |boat| @boat = boat  %>
                    <%= render :partial => 'boats' , :locals => {:person_id => @person.id } %> 
                    
               
                <% end %>
            </tr>
        </table>
    </div>
<% end %>
<% end %>

</div> 

<div class="tabbertab"title="Barcards" >

<div class="tabber" id="personbartab"title=""> 
<% @person.member.people.each do |person| @person = person %>
	<div class="tabbertab" title="<%=@person.first_name%> <%=@person.last_name%>" >
	
	<%= form_for(@person) do |f| %>
		<table class="listing">
		<th>Barcard Number suffix</th><th>Balance</th><th>Action</th>
		<%= render :partial => 'barcard' rescue nil  %>  
		</table> 
	<% end %>
	<%= form_tag :controller => 'barcards', :action => 'new', :mid => @person.member.id, :pid => @person.id, :method => 'post' do %>
		<%= submit_tag 'New Barcard' %>
	<% end %>
	</div>
<% end %>


</div>
</div>

</div>



