<h1>New person</h1>

<% member_id = params[:member_id] %>
<%= link_to :back , :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
<% end %>

<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= render :partial => 'person', :locals => {:f => f  }  %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
