<%= simple_form_for(@privilege) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :member_class %>
    <%= f.input :name %>
    <%= f.input :bar_billies %>
    <%= f.input :car_park %>
    <%= f.input :votes %>
    <%= f.input :bar_reference %>
    <%= f.input :boat_storage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  'Create Membership Class' %>
  </div>
<% end %>
