<div class="page-header">
  <%= link_to new_privilege_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Privilege
  <% end %>
  <h1>Listing privileges</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Member class</th>
            <th>Name</th>
            <th>Bar billies</th>
            <th>Car park</th>
            <th>Votes</th>
            <th>Bar reference</th>
            <th>Boat storage</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @privileges) do |privilege| %>
            <td><%= privilege.member_class %></td>
            <td><%= privilege.name %></td>
            <td><%= privilege.bar_billies %></td>
            <td><%= privilege.car_park %></td>
            <td><%= privilege.votes %></td>
            <td><%= privilege.bar_reference %></td>
            <td><%= privilege.boat_storage %></td>
            <td><%= link_to 'Show', privilege %></td>
        <td><%= link_to 'Edit', edit_privilege_path(privilege) %></td>
        <td><%= link_to 'Destroy', privilege, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
