<% title "Mailing" %>

<p>
  <strong>Subject:</strong>
  <%=h @renewal.subject %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @renewal.content %>
</p>
<p>
  <strong>Delivered At:</strong>
  <%=h @renewal.delivered_at %>
</p>

<p>
  <%= link_to "Edit", edit_renewal_path(@renewal) %> |
  <%= link_to "Destroy", @renewal, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", renewals_path %>
</p>
