<%= semantic_form_for(@subscription, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @subscription.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h4>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :amount, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :start_date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :end_date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :privilege_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :privilege_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.actions do %>    
      <%= f.action :submit, :as => :button , :button_html => {:class => "btn btn-primary" , :disable_with => 'Wait...' }%>
    <% end %> 
    </div>
  </div>
<% end %>
