<td><%= subscription.amount %></td>
<td><%= subscription.start_date %></td>
<td><%= subscription.end_date %></td>
<td><%= subscription.privilege.name %></td>
<td><%= link_to 'Show', subscription , :class => 'btn btn-default'  %></td>
<td><%= link_to 'Edit', edit_subscription_path(subscription) , :class => 'btn btn-default' %></td>
<td><%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
