<%= simple_form_for(@payment, remote: true,  :authenticity_token => true )  do |f|  %>
  <%= f.error_notification %>
  <%= f.input :member_id, :as => :hidden %>
  <%= f.association :paymenttype ,:label =>  "Payment Type" ,:include_blank => false %>
  <%= f.input :amount %>
  <%= f.association :privilege ,:label => "Member Class" ,:include_blank => false %>
  <%= f.association :payment_method ,:include_blank => false %>
  <%= f.input :date_lodged ,:as => :date_picker  %>
  <%= f.input :comment %>
  <div class="form-actions">
    <%= f.button :submit , :class => 'btn-primary' %>
  </div>
<% end %>
