
<head> 
<script language="Javascript1.2">
  <!--
  function printpage() {
  this.print();
  }
  //-->
</script>


</head>

<h1> Membership Summary </h1><br/>
<br />
<div class="noprint">
<%= form_tag :action => 'tot_by_member_class' do %>

<b>Select Month for Month End Figures:</b>

 
<%=select_month(@endmonth.to_i, :prompt => 'Choose month',:include_blank => true) %>
<%= submit_tag 'Go' %><br/>
<br>
<%= link_to_function("Print this Page", "javascript:print()") %>
</div>
<% @years.times do |y| %>
<table class="vertical"> 
 <caption> <h2><%= Time.now.year - y %> </h2></caption> 
<tr>
	<td>
	<br>
	<table class="listing">
		 <caption> <h2>  Year To Date</h2></caption> 
		 
		<th>Mtype</th> <th>Number</th> <th>Tot Value</th>

		<% @typestd[y].each do |p| %>
		   <tr class="<%= cycle('odd', 'even') %>">
		    <td> <%= p.class_desc.camelcase%></td>
		    <td> <%= p.tot%></td>
		    <td> <%= p.money%></td>
		  </tr>
		<% end %>
		<tr class="<%= cycle('odd', 'even')%>">
		  <td></td><td><%=@yeartotaltd[y][0].tot%></td><td><%=@yeartotaltd[y][0].money%></td>
		</tr>
	</table>
	</td>
	<td><br>
	<table class="listing">
		 <caption> <h2>  Full Year </h2></caption> 
		 
		<th>Mtype</th> <th>Number</th> <th>Tot Value</th>

		<% @types[y].each do |p| %>
		   <tr class="<%= cycle('odd', 'even') %>">
		    <td> <%= p.class_desc.camelcase %></td>
		    <td> <%= p.tot%></td>
		    <td> <%= p.money%></td>
		  </tr>
		<% end %>
		
		<tr class="<%= cycle('odd', 'even')%>">
		  <td></td><td><%=@yeartotal[y][0].tot%></td><td><%=@yeartotal[y][0].money%></td>
		</tr>
	</table>
	
</td><br>
</tr>	
<% end %>
</table> 

<p align=centre> 
<img src="<%= url_for :controller => "payment", :action=> "gruff_total_mems" %>" style="border:2px solid #aabcca;" />
</p>
	
<p align=centre> 
<img src="<%= url_for :controller => "payment", :action=> "gruff_todate" %>" style="border:2px solid #aabcca;" />
</p>



	<% end %>

