<head>
<script language="Javascript1.2">
  <!--
  function printpage() {
  this.print();
  }
  //-->
</script>
</head>
<h1> Membership Summary </h1>
<table>
<tr>
				 <td>Memberships: </td> <td> <%= Member.current_members.count %> </td>
				 <td>Parking Memberships: </td> <td> <%= Member.current_members.parking_members.count %> </td>
				 <td>Total People: </td> <td> <%=  Person.current.count %> </td>
				 <td>Total Boats/Shares:  </td> <td> <%=  Boat.members_boats.count  %> </td>

		</tr>
</table>
<div class="noprint">
<%= form_tag({ :action => 'tot_by_member_class'} , method: :get)  do %>
<b>Select Month for Month End Figures:</b>

<%=select_month(@endmonth, :prompt => 'Choose month',:include_blank => true) %>
<%= submit_tag 'Go' %>
<%= link_to_function("Print this Page", "javascript:print()") %>
</div>


<p align=centre>

<img src="<%= @chart_to_date %>"/>

</p>



<% @years.each do |y| %>

<table class="table table-striped table-condensed table-responsive table-hover table-bordered">
 <caption> <h2><%= Time.now.year - y %> </h2></caption>
<tr>
	<td>
	<table class="table table-striped table-condensed table-responsive table-hover table-bordered">
		 <caption> <h2>  Year To Date</h2></caption>
<tr class="info">
		<th>Mtype</th><th> Member<br>  Count</th><th> Payment<br>  Count</th> <th>Tot Value</th>
</tr>
		<% @typestd[y].each do |p| %>
		   <tr class="<%= cycle('odd', 'even') %>">
		    <td> <%= p.name.camelcase%></td>
		    <td> <%= p.tot%></td>
			<td> <%= p.paytot%></td>
		    <td> <%= p.money%></td>
		  </tr>
		<% end %>
		<tr class="<%= cycle('odd', 'even')%>">
		  <td></td>
		  <td>
			<%=@memtotaltd[y][0].count%></td>
			</td>
		  <td><%=@yeartotaltd[y][0].tot%></td><td><%=@yeartotaltd[y][0].money%></td>
		</tr>
	</table>

	</td>
	<td>
	<table class="table table-striped table-condensed table-responsive table-hover table-bordered">
		 <caption> <h2>  Full Year </h2></caption>
     <tr class="info">
		<th>Mtype</th> <th> Member<br>  Count</th><th> Payment<br>  Count</th> <th>Tot Value</th>
</tr>

		<% @types[y].each do |p| %>
		   <tr class="<%= cycle('odd', 'even') %>">
		    <td> <%= p.name.camelcase %></td>
		    <td> <%= p.tot%></td>
			<td> <%= p.paytot%></td>
			<td> <%= p.money%></td>
		  </tr>
		<% end %>

		<tr class="<%= cycle('odd', 'even')%>">
			<td> </td>
		  <td>
			<%=@memtotalyear[y][0].count%></td>
		  </td>
		  <td><%=@yeartotal[y][0].tot%></td><td><%=@yeartotal[y][0].money%></td>

		</tr>
	</table>
	</td>
	<td>


</td>
</tr>

    <% if y.modulo(2) == 0 and y > 0     %>
    <div class="pageBreak"> </div>
<% end %>

<% end %>
</table>
	<% end %>
