<table class="listing">
  <th>Surname</th> <th>First name</th>
  <th>Boat Name</th><th>type</th><th>class</th> <th>sail no</th><th> Pen Tag</th><th> Action</th>

  <%= content_tag_for(:tr, @boats) do |boat| %>
<% #@boats.each  do |boat| %>
  
    <td><%= link_to boat.owner.last_name, person_path(boat.owner.id)+'#tabs-5' %>  </td>
    <td><%= boat.owner.first_name %>  </td>
    <td><%= boat.boat_name %>  </td>
    <td><%= boat.boat_type%>  </td>
    <td><%= boat.boat_class%>  </td>
    <td><%= boat.sail_number%>  </td>
	 <td><%= boat.pen_tag %>  </td>
    <% prompt ="Are you sure? - Don't delete Dinghies unless they have been removed from pen first " %>
      <td><%= link_to 'Delete', boat, data: { confirm: prompt} , :method => :delete %></td>

  <% end %>
</table>
