<%= form_for(@boat) do |f| %>
  <table class ="listing">
	  <th>Field</th> <th> value</th> 
	  <tr>	<td>Boat Name</td><td><%= f.text_field :boat_name  %></td></tr>
	  <tr>	<td>Boat Type</td><td><%= collection_select( :boat, :boat_type, Boat.types,:first ,:last ,{:prompt => true}  ) %></td></tr> 
	  <tr>	<td>Boat Class</td><td><%= f.text_field :boat_class   %>  </td></tr>
	  <tr>	<td>Sail Number</td><td><%= f.text_field :sail_number   %></td></tr>
	  <tr>  <td>Pen Tag</td><td><%= f.text_field :pen_tag   %>        </td></tr>
  </table>
  <p><%= f.submit button_label %></p>
<% end %>
