<div class="page-header">
  <%= link_to new_paymenttype_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Paymenttype
  <% end %>
  <h1>Listing paymenttypes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @paymenttypes) do |paymenttype| %>
            <td><%= paymenttype.name %></td>
            <td><%= link_to 'Show', paymenttype %></td>
        <td><%= link_to 'Edit', edit_paymenttype_path(paymenttype), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', paymenttype, method: :delete, data: { confirm: 'Are you sure?' } ,:html_options => { :class => 'btn btn-mini btn-danger'} %></td>
      <% end %>
    </tbody>
  </table>
</div>
