<%# add navigation links to this file %>
<li><%= link_to "Browse Boats", boats_path %></li>
<li><%= link_to "Renewals", renewals_path %></li>
<li><%= link_to "Totals",  tot_by_member_class_payments_path %></li>
<li><%= link_to "Receipt Breakdown" , receipts_breakdown_payments_path %> </li>
<li><%= link_to "List YTD" ,  listytd_payments_path  %> </li>
<li><%= link_to "Parking" , carpark_passes_members_path %> </li>
<li class="dropdown">
  <%= render 'layouts/dropdown_configuration' %>
</li>
<li class="dropdown">
  <%= render 'layouts/dropdown_data_extracts' %>
</li>

<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

