<!DOCTYPE html >

<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>MYC Members - <%= controller.action_name %></title>

<%= stylesheet_link_tag "application" %>
<%# = stylesheet_link_tag 'app', 'myc2', 'dyn_drv' ,'formtastic', 'formtastic_changes', 'tabber',  :media => "all"  
%>
<%= javascript_include_tag "application"  %> 
<div class="noprint">
<%# = stylesheet_link_tag('print', :media => :print) 
%>
<link rel="icon" type="images/png" href="assets/MYC.jpg" />
</div >
</head>
<body> 
	<div id="framecontentLeft" class="noprint">
		<div class="innertube">
		<div id="banner" class="noprint">
		<%= image_tag("MYC.jpg", :size => "140x120", :alt => "MYC Logo") %>
		     
		</div>
		    
		<br> 
		<%= link_to "List Members", root_path %><br /><br>
		
		<%= link_to_unless_current "List Boats", :controller => 'boats', :action => 'index' %><br /><br>
		<%= link_to_unless_current "List by Member Class", :controller => 'payments', :action => 'list_by_member_class' %><br /><br>
		<%= link_to_unless_current "Totals by Member Class", :controller => 'payments', :action => 'tot_by_member_class' %><br /><br>
		<%= link_to_unless_current "Payment Breakdown", :controller => 'payments', :action => 'receipts_breakdown' %><br /><br>
		
		<%= link_to_unless_current "Payments This Year", :controller => 'payments', :action => 'listytd' %><br /><br><br>
		<%= link_to_unless_current "Overdue Memberships",:controller => 'payments', :action => 'overduememberships' %><br /><br>
		<%= link_to_unless_current "Car Park Passes",carpark_passes_members_path  %><br /><br>
		<%= link_to_unless_current "MemberShip Classes",:controller => 'privileges', :action => 'index' %><br /><br />
		<%= link_to_unless_current "MemberShip Subscriptions",subscriptions_path %><br />
		<br>
		<br>                
		<%= link_to_unless_current "New Member", new_member_path %><br /><br>
		<br>
		<h3>Renewal processing </h3></br>
		<%= link_to_unless_current "Renewal processing",renewals_path  %><br /><br>
		<h3>Extracts</h3> 
		
		<br /><br />
		
		<%= link_to_unless_current "Bar System Interface", :controller => 'people', :action => 'bar_interface' %><br /><br>
		<%= link_to_unless_current "export_paid_up_members", :controller => 'people', :action => 'paid_up_extract' %><br /><br>
		
		<p > Version-3.1.0 <a href="http://cunning.homeip.net/trac/ticket/68" target="_blank" >Whats new ? </a>    </p>         
    </div> 
</div>






<div id="maincontent">
	<div class="innertube">	
		
    <div class="main">
	    <p style="color: red"><%= flash[:notice] %><%= flash[:error] %></p>
	    
		<%= yield :layout  %>   
    </div>
</div>
</div> 
</body>
</html>
