<%= simple_form_for(@member) do |f| %>

  <% if @member.errors.any? %>
    <% if 2 == 1 %>
      <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@member.errors.count, "error") %>.
        </div>
        <ul>
          <% @member.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= f.error_notification %>
  <div class="row">
    <%= f.simple_fields_for :people do |builder| %>
      <% if builder.object.status == 'm' || @member.new_record? %>
        <%= render :partial => 'people/person', :locals => {:f => builder }  %>
      <% end %>
    <% end %>

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">Membership Details</div>
        <div class="panel-body">
          <div class="form-inputs">
            <%= f.input :proposed %>
            <%= f.input :seconded %>
            <%= f.input :year_joined %>
            <%= f.association :privilege, label: "Member Class" %>
            <div class="panel-body">
              <%= f.input :email_renewal, :as => :boolean  %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">Address Details</div>
        <div class="panel-body">
          <div class="form-inputs">
            <%= f.input :name_no %>
            <%= f.input :street1 %>
            <%= f.input :street2 %>
            <%= f.input :town %>
            <%= f.input :city %>
            <%= f.input :postcode %>
            <%= f.input :county %>
            <%= f.input :country,  priority: ['IE', 'GB']  %>
          </div>
        </div>
    </div>
  </div>
  </div>  <!--row -->
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br>
