 
<h5>Car Park Passes <br> </h5><br/>

 Number of car park passes to be issued: <%=@carpark.size %>
 <br>
 
 
<table class="listing">
 <th>Surname</th> <th>First Name</th> <th>Home Phone</th> <th>Mobile </th> <th>email</th> <th>Membership Type</th>
 <th>Last Payment</th><th>Car Park id</th>
 
 
  <% i = 0 %>
<% @carpark.each do |p| %>

   <tr class="<%= cycle('odd', 'even') %>">
	
	
	<td><%= link_to p[i + 1],:controller => 'people', :action => 'edit', :id =>p[i + 0] %>  		</td> 
	<td><%= p[i + 2] %> 		</td>
    <td><%= p[i + 3] %>  		</td> 
	<td><%= p[i + 4] %>  	</td>
	<td><%= p[i + 5] %>		</td>
	<td><%= p[i + 6] %>		</td>
	<td><%= p[i + 7] %>    </td>
	<td><%= p[i + 8] %>    </td>
	
	<%i = i + 9 %></i>
 
  </tr>
<% end %>

<% form_tag({ :action => :carpark_passes })do %> <%= submit_tag 'Export CSV file' -%>

<% end %>

