<div class="page-header">
  <%= link_to members_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_path(@member), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show member</h1>
</div>

<dl class="dl-horizontal">
  <dt>Proposed:</dt>
  <dd><%= @member.proposed %></dd>

  <dt>Seconded:</dt>
  <dd><%= @member.seconded %></dd>

  <dt>Year joined:</dt>
  <dd><%= @member.year_joined %></dd>
  
<dt>Status:</dt>
  <dd><%= @member.status %></dd>

  <dt>Occupation:</dt>
  <dd><%= @member.occupation %></dd>

  <dt>Renew date:</dt>
  <dd><%= @member.renew_date %></dd>

  <dt>Privilege:</dt>
  <dd><%= @member.privilege_id %></dd>

  <dt>Name No:</dt>
  <dd><%= @member.name_no %></dd>

  <dt>Street1:</dt>
  <dd><%= @member.street1 %></dd>

  <dt>Street2:</dt>
  <dd><%= @member.street2 %></dd>

  <dt>Town:</dt>
  <dd><%= @member.town %></dd>

  <dt>City:</dt>
  <dd><%= @member.city %></dd>

  <dt>Postcode:</dt>
  <dd><%= @member.postcode %></dd>

  <dt>County:</dt>
  <dd><%= @member.county %></dd>

  <dt>Country:</dt>
  <dd><%= @member.country %></dd>

  <dt>Email Renewal:</dt>
  <dd><%= @member.email_renewal %></dd>

</dl>
